mixin header(loggedIn, page)
  header



    div.menu-wrapper
      div.pure-menu.pure-menu-open.pure-menu-horizontal
        a(href="https://www.mozilla.org/" id="tabzilla") mozilla
        link(href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet")
        script(src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js")

        a(id="menu-button").fa.fa-bars.pull-left
        a(href='/' id="logo").pull-left
          img(src='/img/logo.png').MSLlogo
        ul.pull-right
          li
            a(href='/community').pure-button JOIN US
          li
            a(href='/auth/github')
              i.fa.fa-github
              span  Sign In
        ul.pull-left
          li(class=page === 'About' ? "pure-menu-selected" : "")
              a(href='/about') About
          li(class=page === 'Blog' ? "pure-menu-selected" : "")
            a(href='/blog') Blog
          li(class=page === 'Education' ? "pure-menu-selected" : "")
            a(href='/training') Training
          li(class=page === 'Collaborate' ? "pure-menu-selected" : "")
            a(href='/collaborate') Collaborate
        //ul
          if(loggedIn)
            li= 'Welcome ' + user.name
            li
              a(href='/logout') Logout
          else
            li
              a(href='/auth/github')
                i.fa.fa-github
                span  Sign in with Github

