mixin post(p, excerpt)
  - var link = "/" + p.slug
  div.post
    if(p.featured_image)
      if(excerpt)
        a(href=link)
          img(src=p.featured_image.guid style="padding-bottom:1em")
      else
        img(src=p.featured_image.guid style="padding-bottom:2em")
    h1
      if(excerpt)
        a(href=link)!=p.title
      else
        span!=p.title
    div
      | Posted on &nbsp;
      a(href=link) #{moment(p.date).format('LL')}
      |  by &nbsp;
      a(href='/u/' + p.author.username) #{ p.author.name }
    if excerpt
      p!=p.excerpt.replace('[&hellip;]', '<a href="' + link + '">[&hellip;]</a>')
    else
      p!=p.content
      div#comments
      div#disqus_thread
      script(type="text/javascript").
        var disqus_shortname = 'mozillaopenscience';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

      noscript
        | Please enable JavaScript to view the
        a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.

