include partials/head.jade
include partials/header.jade
include partials/footer.jade

-var page = "Event"

doctype html5
html
  head
    +head(ev.title || page)
  body
    +header(loggedIn, page)
    div.page-wrapper.user-page
      section.project
        div
          h1 #{ev.title + '  '}
          p
            i= ev.where
            span= ' | ' + moment(ev.start).format("MMM D") + ' - ' + moment(ev.end).format("MMM D YYYY")
          if(ev.register && (ev.start > moment()))
            div(style="padding-bottom:2em")
              button.pure-button.pure-button-lg(data-toggle="modal" data-target="#register") Register

          div.pure-u-1
            if(ev.image_url)
              div(style="padding-bottom:2em")
                img(src=ev.image_url)

          div.pure-u-1
            p!=ev.description



          div.modal.fade#register(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
              div.modal-dialog
                div.modal-content
                  div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                      span(aria-hidden="true") &times;
                    h3.modal-title#modalLabel
                      if(user)
                        | Register for the Toronto Open Science Code Sprint
                      else
                        | Sign in to Register
                  div.modal-body
                    p Join us in the Mozilla Toronto offices March 7-8 as we build tools helping web-enabled science
                    tito-widget(event="mozilla-science/toronto-open-science-code-sprint")
                  div.modal-footer
                    button.pure-button.light(type="button" data-dismiss="modal") Close
                    //if(user)
                      a.pure-button(type="button" href="/api/events/" + ev.slug + '/attend') Register
                    //else
                      a.pure-button(type="button" href="/auth/github") Sign in to Register

          if(ev.slug == 'toronto-open-science-code-sprint-2015')
            h3 PROJECTS
            div#featured-projects

          if(ev.facilitators.length > 0)
            h3 FACILITATORS
            div#event-people(data-url="/api/events/" + ev.slug + "/people")

          if(ev.attending.length > 0)
            h3 PARTICIPANTS
            div#event-attending(data-url="/api/events/" + ev.slug + "/attending")

          if(ev.register && (ev.start > moment()))
            button.pure-button.pure-button-lg(data-toggle="modal" data-target="#register") Register

         if(ev.slug == 'toronto-open-science-code-sprint-2015')
            h3 SCHEDULE
            h4 Saturday, March 7
            p
              span 9:00 - 9:15am: Registration / Coffee
              br
              span 9:15 - 10:00am: Quick overview of all the projects + questions
              br
              span 10:00 - 12:30pm: Form groups - begin working
              br
              span 12:30 - 1:30pm: Rolling Lunch
              br
              span 1:30 - 5:00pm: Working in groups
              br
            h4 Sunday, March 8
            p
              span 10:00 - 12:30pm: Working in groups
              br
              span 12:30 - 1:30pm: Rolling Lunch
              br
              span 1:30 - 3:00pm: Working in groups
              br
              span 3:00 - 5:00pm: Final demos!
              br


    +footer(page)
