include partials/head.jade
include partials/header.jade
include partials/footer.jade

-var page = "Event"

doctype html5
html
  head
    +head(ev.title || page)
  body
    +header(loggedIn, page)
    div.page-wrapper.user-page
      section.project
        div
          h1 #{ev.title + '  '}
          p
            i= ev.where
            span= ' | ' + moment(ev.start).format("MMM D") + ' - ' + moment(ev.end).format("MMM D YYYY")
          if(ev.start > moment())
            div(style="padding-bottom:2em")
              button.pure-button.pure-button-lg(data-toggle="modal" data-target="#registerModal") Register

          div.pure-u-1
            if(ev.image_url)
              div(style="padding-bottom:2em")
                img(src=ev.image_url)

          div.pure-u-1
            p=ev.description


          div.modal.fade#registerModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
              div.modal-dialog
                div.modal-content
                  div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                      span(aria-hidden="true") &times;
                    h3.modal-title#modalLabel
                      if(user)
                        | Register for the Toronto Open Science Code Sprint
                      else
                        | Sign-in to Register
                  div.modal-body
                    p Join us in the Mozilla Toronto offices March 7-8 as we build tools helping web-enabled science
                  div.modal-footer
                    button.pure-button.light(type="button" data-dismiss="modal") Close
                    a.pure-button(type="button" href="/api/events/" + ev.slug + '/attend')
                      if(user)
                        | Register
                      else
                        | Sign-in to Register

          h3 FACILITATORS
          div#event-people(data-url="/api/events/" + ev.slug + "/people")

          if(ev.attending.length > 0)
            h3 PARTICIPANTS
            div#event-attending(data-url="/api/events/" + ev.slug + "/attending")

          if(ev.start > moment())
            button.pure-button.pure-button-lg(data-toggle="modal" data-target="#registerModal") Register


    +footer()