include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

-var page = "User"

doctype html5
html
  head
    +head(person.name || page)
  body
    +header(loggedIn, page)
    div.page-wrapper.user-page
      section.project
        div
          h1 #{person.name + '  '}

          span.subhead= person.company

          div.pure-u-1.pure-u-md-1-4.sidebar
            div
              img(src= person.avatar_url)
          div.pure-u-1.pure-u-md-3-4
            textarea#bio(placeholder="Tell us about yourself")=person.bio
            ul
              li
                i.fa.fa-twitter
                  input#p_twitter_id(placeholder="Twitter" value=person.twitter_id)
              li
                i.fa.fa-external-link
                  input#p_blog(placeholder="Blog" value=person.blog)
            br
            br
            div.project-links
              span.pure-button.btn-success(id='save-profile', data-href='/api/users/' + person.username, data-person=person, data-redirect='/u/' + person.username) Update
              span.pure-button.btn-success#delete(data-href='/api/users/' + person.username, data-redirect='/about') Delete Profile
              a.pure-button(href='/u/' + person.username) View Profile

    +footer()