include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade


doctype html5
html
  head
    +head('About Collaborate')
  body
    +header(loggedIn, "Collaborate")
    div.page-wrapper



      section.about.splash
        h1 Science Lab Collaborate Admin

      table#collaborate-admin-table.dataTable.stripe.display
        thead
          th Status
          th Project
          th Lead
          th Institution
          th Tags
          th Looking for
          th GitHub
          th Website
          th Hours

        tbody
          each project in projects
            tr
              td= project.status
              td
                a(href='/projects/' + project.slug)=project.title
              td
                if project.lead
                  each l, ind in project.lead
                    a(href='/u/' + l.username)=l.name
                    if ind != project.lead.length-1
                      | ,&nbsp;
              td=project.institute
              td=project.languages.join(', ')
              td=project.wanted.join(', ')
              td
                if(project.github.repo)
                  a(href='//github.com/' + project.github.user + '/' + project.github.repo)
                    i.fa.fa-github
              td
                a(href=project.project_url) website
              td=project.hours


    +footer()


