include ../../partials/head.jade
include ../../partials/header.jade
include ../../partials/footer.jade

doctype html5
html
  head
    +head()
  body
    +header(loggedIn)
    div.page-wrapper.edit-page

      section.project
        div
          h1
            input(value= project.title, id='ptitle')
            input#pslug(value=project.slug type="hidden")
          p
            input(value= project.subjects.join(', '), id='psubjects', placeholder="scientific discipline(s)")

          div.pure-u-1.pure-u-md-1-4.sidebar
            div
              div#preview.crop
                img(src=project.image_url)

              input#pimage_url(type="hidden" name="pimage_url" value=project.image_url)
              input#files(type="file")
              p#status Please select a file



          div.pure-u-md-3-4
            div.pure-u-1.pure-u-lg-1-3
                i.fa.fa-user
                label= lead.join(', ')
            div.pure-u-1.pure-u-lg-1-3
                i.fa.fa-map-marker
                input(value= project.institute, id='pinstitute', placeholder="institution")

            div.pure-u-1
              p
                small= 'Tags: '
                  input(value=project.languages.join(', '), id='planguages', placeholder="Python, JavaScript...")
                br
                small= 'Looking for: '
                  input(value=project.wanted.join(', '), id='pwanted', placeholder="Developers, designers...")
            div.pure-u-1
              p.summary
                textarea(id='pshort_description', placeholder="Short description")= project.short_description
              h3 WHAT WE'RE DOING
              p.summary
                textarea(id='pdescription' placeholder="Description")= project.description


            div.project-links
              span.pure-button.projectLink Website:
                input(value=project.project_url, id='pproject_url', placeholder="Website url")
              span.pure-button.projectLink Go to the Repo:
                input(value='https://github.com/' + project.github.user + '/' + project.github.repo, id='prepo', placeholder="GitHub url")



          div.pure-u-1.pure-u-md-1-4


          div.pure-u-1.pure-u-md-3-4
            div.pure-u-1#pgoals
              h3 MAIN DELIVERABLES
              if(project.goals)
                each goal in project.goals
                  p
                    textarea=goal
              p
                textarea(placeholder='new deliverable')

              h3 MORE INFORMATION
              ul.infolink(id='plinks')
                if(project.links)
                  each info in project.links
                    li
                      input(value=info.link)
                      br
                      input(value=info.title)
                      br
                      br
                li
                  input(placeholder='Link')
                  br
                  input(placeholder='Title')
                  br
                  br
            div.project-links
              span.pure-button.btn-success(id='save-project', data-href='/projects/' + project.slug + '/save') Save Changes
              span.pure-button.btn-success#delete-project(data-href='/projects/' + project.slug) Delete Project
              a.pure-button(href='/projects/' + project.slug) View Project



        div
          br
          br
          i
            | Have a question? Read more
            a(href="/projects/about")  about this program
            |  or
            a(href='mailto:sciencelab@mozillafoundation.org')  get in touch
            | .
    script(type="text/javascript" src="/scripts/s3upload.js")
    +footer()
