include ../../partials/head.jade
include ../../partials/header.jade
include ../../partials/footer.jade

doctype html5
html
  head
    +head(project.title)
  body
    +header(loggedIn)
    div.page-wrapper

      section.project
        div
          h1= project.title
          span.subhead=project.subjects.join(', ')

          div.pure-u-1.pure-u-md-1-4.sidebar
            div
              div.crop
                img(src= project.image_url || "/img/placeholder.png")
            if(contributors || local_contrib)
              h3 PARTICIPANTS
            if(contributors)
              each contrib in contributors
                a(href='/u/' + contrib.login).tooltips.pure-u-1-4.contributor
                  img(src= contrib.avatar_url)
                  span= contrib.login
            if(local_contrib)
              each localc in local_contrib
                if(localc)
                  a(href="https://github.com/" + localc.github_id).tooltips.pure-u-1-4.contributor.local
                    img(src= localc.avatar_url)
                    span= localc.github_id
          div.pure-u-md-3-4
            div.pure-u-1.pure-u-lg-1-3
                i.fa.fa-user
                each l, ind in lead
                  label
                    a(href='/u/' + l.username)=l.name
                    if ind != lead.length-1
                      | ,&nbsp;

            div.pure-u-1.pure-u-lg-1-3
                i.fa.fa-map-marker
                label= project.institute
            div.pure-u-1.pure-u-lg-1-3
              if(project.status == 'closed')
                i.fa.fa-circle.text-danger
                label Closed Project
              else if(project.status == 'active')
                i.fa.fa-circle.text-success
                label Active Project
              else if(project.status == 'complete')
                i.fa.fa-circle.text-danger
                label Complete Project
              else
                i.fa.fa-circle.text-warning
                label Under Review
            div.pure-u-1
              p
                small= 'Tags: ' + project.languages.join(', ')
                br
                small= 'Looking for: ' + project.wanted.join(', ')
            div.pure-u-1
              p.summary!= project.short_description
              if(project.description)
                h3 WHAT WE'RE DOING
                p.summary !{marked(project.description)}

            if(!member && loggedIn && (project.status == 'active'))
              div#join-project.ui-hidden
                h3 JOIN THIS PROJECT
                input(type="checkbox" id="star" checked)
                b  Star this project on GitHub
                br
                span To help you keep track of this project
                br
                br
                input(type="checkbox" id="fork" checked)
                b  Fork this project on GitHub
                br
                span This will create your own copy of the code. This allows you to freely make your own changes.
                br
                br
                b Introduce yourself to the other participants.
                br
                span What interests you in this project? How can you help?
                br
                textarea.pure-u-1(rows='5', id="helptext")
                a.pure-button.btn-success(id='submit-project', href="javascript:void(0)", data-href='/projects/' + project.slug + '/join') Submit
                p

            div.project-links
              if(project.project_url)
                a.pure-button.projectLink(href= project.project_url) Website
              if(project.github.user)
                a.pure-button.projectLink(href= 'https://github.com/' + project.github.user + '/' + project.github.repo) Go to the Repo
              if(loggedIn)
                if(!member && (project.status == 'active'))
                    span.pure-button.btn-success(id='join', data-href='/projects/' + project.slug + '/join') Join Project!
                else if(canLeave)
                    span.pure-button.btn-danger(id='leave', data-href='/api/projects/' + project.slug + '/leave') Leave Project
                if(canEdit)
                  a.pure-button.btn-danger(href='/projects/' + project.slug + '/edit') Edit Project
              else if(project.status == 'active')
                a.pure-button.btn-success(href="/auth/github") Sign in to Join the Project!



          div.pure-u-1.pure-u-md-1-4

            if(project.links)
              h3 MORE INFORMATION
              ul.infolink
                each info in project.links
                  li
                    a(href= info.link)= info.title
            //h3 RELATED PROJECTS
            if(project.license)
              h3 LICENSE
              p=project.license

          div.pure-u-1.pure-u-md-3-4
            div.pure-u-1
              if(project.goals.length > 0)
                h3 MAIN DELIVERABLES
                ul.goals
                  each goal in project.goals
                    li!= goal

              if(canEdit)
                br
                br
                div.content-contrast.l-box-lg
                  p
                    span.tag How many hours a week can you spend working with others on this project?
                  p= project.hours
                  p
                    span.tag Please describe how this would benefit the scientific community
                  p=project.scientific_need
                  p
                    span.tag What learning oppourtunities are present for newcomers to this field / project?
                  p=project.learning
                  p
                    span.tag Contact email
                  p
                    each l, ind in lead
                        a(href='mailto:' + l.email)=l.email
                        if ind != lead.length-1
                          | ,&nbsp;

              if(content)
                h3 REPO PREVIEW

                ul.pure-u-1.repo
                  if(type == 'org')
                    each c in content
                        li
                          div.pure-u-3-5
                            i.fa.fa-book
                            a(href= c.html_url)= c.name
                          div.pure-u-2-5.fade.repo-info
                            div
                              span= c.language
                              a(href= c.html_url + '/stargazers').fade
                                i.fa.fa-star
                                span= c.stargazers_count
                              a(href= c.html_url + '/network').fade
                                i.fa.fa-code-fork
                                span= c.forks_count
                          div= c.description
                  else
                    each c in content
                      if(c.type != 'file')
                        li
                          i.fa.fa-folder
                          a(href= c.html_url)= c.name
                    each c in content
                      if(c.type == 'file')
                        li
                          i.fa.fa-file-text-o
                          a(href= c.html_url)= c.name


        div
          br
          br
          i
            | Have a question? Read more
            a(href="/collaborate/about")  about this program
            |  or
            a(href='mailto:sciencelab@mozillafoundation.org')  get in touch
            | .
    +footer()
